@import "font.scss";

.newComment {
  margin: 0px 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;

  &__num {
    font-family: myMedium;
    margin: 0px 0px 32px 0px;
  }

  img {
    width: 48px;
    height: 48px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
  }

  &__new {
    display: flex;

    &--comment {
      display: flex;
      flex-direction: column;
      margin-left: 18px;

      label {
        color: #afafaf;
        font-family: myMedium;
        font-size: 13px;
      }

      textarea {
        border-radius: 4px;
        width: 91.6%;
        margin: 6px 0px 16px 0px;
      }

      textarea:focus {
        border: solid 1.5px #0095ff;
        outline: none;
      }

      button {
        width: 95%;
        font-family: myMedium;
        font-size: 13px;
        height: 48px;
        border-radius: 4px;
        background-color: #0095ff;
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .newComment {
    margin: 0px 24px;
    &__new {
      padding-right: 40px;
      &--comment {
        width: 100%;
        flex-direction: row;
        font-size: 2vw;
        align-items: center;

        label {
          font-size: 15px;
        }

        textarea {
          font-size: 15px;
          border-radius: 4px;
          width: 400px;
          height: 1.2em;
          padding: 20px;
        }

        #myButton {
          font-size: 2vw;
          width: 35.3%;
          height: 60px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .newComment {
    padding-bottom: 4px;
    &__new {
      padding-right: 32px;
      &--comment {
        width: 100%;
        flex-direction: row;
        font-size: 14px;
        align-items: center;

        label {
          font-size: 1vw;
        }

        #myButton {
          font-size: 14px;
          width: 29%;
          height: 50px;
        }

        textarea {
          width: 85.25%;
          height: 6px;
        }
      }
    }
  }
}
