body {
  margin: 0px;
  font-family: Regular;
}

@media only screen and (min-width: 1280px) {
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 180px 0px 156px;
  }
  .boxClip {
    width: 76%;
  }
}

/* Font*/
@font-face {
  font-family: Regular;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: myDemi;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: myMedium;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: myBold;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

/* Header*/
@font-face {
  font-family: Regular;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: myDemi;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: myMedium;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: myBold;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

.header {
  margin: 0px 16px 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logo {
  margin: 12px auto;
  width: 19vh;
}

.header__search {
  min-height: 48px;
  margin-top: 8px;
  width: 100%;
  border-radius: 4px;
  background: #fafafa url("../Assets/Icons/SVG/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
  text-indent: 43px;
  font-size: 1.1em;
  font-family: Regular;
  color: #323232;
  border: 1px solid #e1e1e1;
}

.header__right {
  margin: 8px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right--button {
  width: 82%;
  min-height: 48px;
  margin: 0px 16px 0px 0px;
  font-size: 1em;
  color: white;
  background-image: url(../Assets/Icons/SVG/Icon-upload.svg);
  background-repeat: no-repeat;
  background-position: 29% 50%;
  background-color: #0095ff;
  border-radius: 4px;
}

.header__right--Mohan {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 16px 24px;
  }
  .header__logo {
    margin: 12px 0px;
  }
  .header__toRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__search {
    margin: 0px;
    width: 248px;
  }
  .header__right {
    margin: 0px;
  }
  .header__right--button {
    width: 126px;
    margin: 0px 24px;
    background-position: 10% 50%;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    margin: 16px 180px;
  }
  .header__search {
    width: 330px;
  }
}

/* Hero*/
@font-face {
  font-family: Regular;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: myDemi;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: myMedium;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: myBold;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

#background {
  background-color: black;
}

.hero {
  background-color: black;
  background-image: url("../Assets/Images/video-list-0.jpg");
  background-size: cover;
  height: 57.5vw;
  background-position: center;
  position: relative;
}

.hero__play {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__scroll {
  border-radius: 4px;
  padding: 10px 5px 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  position: absolute;
  bottom: 1px;
}

.hero__scroll--hr {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 5px;
}

.hero__scroll--hr hr {
  height: 1px;
  margin: auto 10px;
  border-color: black;
  background: black;
  width: 100%;
}

.hero__scroll--hr p {
  display: none;
}

.hero__scroll--stuffs {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 4px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__scroll #play {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0px 0px 0px 16px;
  padding: 4px 10px;
  border-radius: 4px;
}

.hero__scroll #fullscreen,
.hero__scroll #volume {
  margin: 0px 8px;
}

@media only screen and (min-width: 768px) {
  .hero {
    margin: 0px 34px;
    height: 52.1vw;
  }
  .hero__scroll {
    padding: 10px 5px 10px 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    margin: 0px 248px;
    height: 37.5vw;
  }
  .hero__scroll {
    padding: 10px 5px 10px 35px;
  }
}

/* Clip*/
@font-face {
  font-family: Regular;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: myDemi;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: myMedium;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: myBold;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

.clip {
  margin: 32px 16px 40px 16px;
}

.clip__title {
  font-family: myBold;
  font-size: 1.5em;
  margin-bottom: 16px;
}

.clip__letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 32px;
}

.clip #name {
  font-family: mydemi;
  margin-right: 8px;
}

.clip #date {
  color: #afafaf;
}

.clip #views,
.clip #hearts {
  margin-right: 24px;
}

.clip__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 24px;
}

.clip__likes img {
  margin-right: 8px;
}

.clip__comment {
  font-size: 13px;
  border-top: 1px solid #afafaf;
  padding-top: 24px;
}

@media only screen and (min-width: 768px) {
  .clip {
    margin: 48px 24px;
  }
  .clip__title {
    font-size: 1.9em;
    margin-bottom: 24px;
  }
  .clip #clip {
    border-bottom: 1px solid #afafaf;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .clip #hearts {
    margin: 0px;
  }
  .clip__comment {
    border: none;
    padding-top: 40px;
    padding-right: 224px;
    font-size: 1.75vw;
  }
}

@media only screen and (min-width: 1280px) {
  .clip__likes {
    padding-right: 32px;
  }
  .clip__comment {
    width: 472px;
    padding-right: 248px;
    font-size: 13px;
  }
}

/* NewComment*/
@font-face {
  font-family: Regular;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: myDemi;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: myMedium;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: myBold;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

.newComment {
  margin: 0px 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.newComment__num {
  font-family: myMedium;
  margin: 0px 0px 32px 0px;
}

.newComment img {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.newComment__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newComment__new--comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 18px;
}

.newComment__new--comment label {
  color: #afafaf;
  font-family: myMedium;
  font-size: 13px;
}

.newComment__new--comment textarea {
  border-radius: 4px;
  width: 91.6%;
  margin: 6px 0px 16px 0px;
}

.newComment__new--comment textarea:focus {
  border: solid 1.5px #0095ff;
  outline: none;
}

.newComment__new--comment button {
  width: 95%;
  font-family: myMedium;
  font-size: 13px;
  height: 48px;
  border-radius: 4px;
  background-color: #0095ff;
  color: white;
}

@media only screen and (min-width: 768px) {
  .newComment {
    margin: 0px 24px;
  }
  .newComment__new {
    padding-right: 40px;
  }
  .newComment__new--comment {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 2vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newComment__new--comment label {
    font-size: 15px;
  }
  .newComment__new--comment textarea {
    font-size: 15px;
    border-radius: 4px;
    width: 400px;
    height: 1.2em;
    padding: 20px;
  }
  .newComment__new--comment #myButton {
    font-size: 2vw;
    width: 35.3%;
    height: 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .newComment {
    padding-bottom: 4px;
  }
  .newComment__new {
    padding-right: 32px;
  }
  .newComment__new--comment {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newComment__new--comment label {
    font-size: 1vw;
  }
  .newComment__new--comment #myButton {
    font-size: 14px;
    width: 29%;
    height: 50px;
  }
  .newComment__new--comment textarea {
    width: 85.25%;
    height: 6px;
  }
}

/* CommentList*/
@font-face {
  font-family: Regular;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: myDemi;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: myMedium;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: myBold;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

.users {
  margin: 0px 16px;
  padding: 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}

.users__mercury {
  margin-top: 12px;
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.users__comment {
  margin-left: 18px;
}

.users__comment--status {
  margin: 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.users__comment--status #name {
  font-family: myMedium;
}

.users__comment--status #date {
  color: #afafaf;
}

.users__comment--status, .users__comment--mention {
  font-size: 13.5px;
}

@media only screen and (min-width: 768px) {
  .users {
    margin: 0px 24px;
    padding-right: 40px;
  }
  .users__comment--status {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .users__comment #name {
    margin-right: 16px;
  }
  .users__comment--status, .users__comment--mention {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1280px) {
  .users__comment--mention {
    font-size: 15px;
  }
}

/* Videos*/
@font-face {
  font-family: Regular;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: myDemi;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: myMedium;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: myBold;
  src: url("../Assets/globalfont/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

.videos {
  margin: 0px 16px;
}

.videos__next {
  margin: 40px 0px 16px 0px;
  color: #afafaf;
  font-family: myMedium;
  font-size: 13px;
}

.videos__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0px;
}

.videos__list--thumbnail {
  display: block;
}

.videos__list--thumbnail img {
  width: 120px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 45%;
     object-position: 100% 45%;
  border-radius: 4px;
}

.videos__list--detail {
  height: 64px;
}

.videos__list--detail h4 {
  margin: 0px 0px 0px 16px;
  font-size: 13.5px;
}

.videos__list--detail #title {
  font-family: myMedium;
}

.videos__list--detail #channel {
  margin: 8px 0px 8px 16px;
}

@media only screen and (min-width: 768px) {
  .videos {
    margin: 0px 24px;
  }
  .videos__next {
    font-size: 15px;
  }
  .videos h4 {
    font-size: 15px;
  }
  .videos__list--thumbnail {
    width: 120px;
  }
  .videos__list--detail {
    height: 70px;
    padding-right: 396px;
  }
  .videos__list--detail #channel {
    margin: 5px 0px 0px 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .videos {
    margin: 0px;
  }
  .videos h4 {
    font-size: 13px;
  }
  .videos__next {
    font-size: 14px;
  }
  .videos__list {
    width: 285px;
    margin: 29px 0px;
  }
  .videos__list--detail {
    padding: 0px;
  }
}
/*# sourceMappingURL=main.css.map */